<ion-view class="home-page" view-title="<img class='title-image' src='img/logo.png' />Home">
  <ion-content padding="false" style="bottom:65px !important">
    <div class="row">
      <div class="col col-25">
        <div class="avatar">
          <!-- <i class="icon userLarge ion-person"></i> -->
          <img data-ng-src="{{::currentUser.image}}"/>
        </div>
      </div>
      <div class="col col-75 profileName">{{::currentUser.fullName}}</div>
    </div>
    <!--<h1 count-up id="lead" ng-model="badges.lead"></h1>-->
    <h5>Your Badges</h5>
    <div class="row badges">
      <div class="col col-33 lead">
        <div class="insideCircle rotate">
          <i class="icon ion-ios-star"></i>
        </div>
        <div class="sektor1"></div>
        <span class="statnum" count-up id="lead" ng-model="badges.lead" ng-style="myStat"></span>
      </div>
      <div class="col col-33 convertedLead">
        <div class="insideCircle">
          <i class="icon ion-ios-star rotate"></i>
        </div>
        <div class="sektor2"></div>
        <span class="statnum" count-up id="convertedLead" ng-model="badges.convertedLead" ng-style="myStat"></span>
      </div>
      <div class="col col-33 Story">
        <div class="insideCircle">
          <i class="icon ion-ios-star rotate"></i>
        </div>
        <div class="sektor3"></div>
        <span class="statnum" count-up id="story" ng-model="badges.story" ng-style="myStat"></span>
      </div>
    </div>
    <div class="row badgeTitle">
      <div class="col-33">
        <span class="statname">Lead</span>
      </div>
      <div class="col-33">
        <span class="statname">Converted Lead</span>
      </div>
      <div class="col-33">
        <span class="statname">Story</span>
      </div>
    </div>
    <h5>Most Recent Leads <span class="right">Status</span></h5>
    <spinner is-loading="isLoading"></spinner>
    <div ng-show="!isLoading" class="card" ng-repeat="lead in ::leadRecents track by $index">
      <div class="item item-text-wrap">
        {{lead.companyName}}
        <span class="item-note">
          {{lead.status}}
        </span>
      </div>
      <div class="item item-divider">
        {{lead.createdDate}}
      </div>
    </div>

    <button class="button button-balanced middleButton" ui-sref="app.newlead">New Lead</button>
  </ion-content>
  <ion-footer-bar class="bar-balanced footer-bar-custom">
  <div class="buttons">
    <button class="button button-clear"></button>
  </div>
  <h1 class="title">Thank you for being part of the team, {{::currentUser.fullName}}</h1>
  <div class="buttons" ng-click="doSomething()">
    <button class="button button-clear"><span style="margin-top:15px;">v0.1</span></button>
  </div>
</ion-footer-bar>

</ion-view>