<ion-view class="leadstatus-page" view-title="<img class='title-image' src='img/logo.png' />Lead Status">
  <ion-content>
    <spinner is-loading="isLoading"></spinner>
    <ion-list ng-if="!isLoading">
      <div ng-repeat="group in ::leadStatuses">
        <ion-item class="item-stable item-icon-right" ng-click="toggleGroup(group)" ng-class="{active: isGroupShown(group)}">
          <div class="circleIcon">
            <i class="icon" ng-class="isGroupShown(group) ? 'ion-chevron-up' : 'ion-chevron-down'"></i>
          </div>
          &nbsp; {{group.label}} <span class="number">{{group.items.length}}</span>
        </ion-item>
        <ion-item class="item-accordion" ng-repeat="lead in ::group.items" ng-show="isGroupShown(group)">
          <div class="sub-item lead">
            <strong>Lead: </strong>{{ lead.id }}
          </div>
          <div class="sub-item companyName">
            <strong>Company name: </strong>{{ lead.companyName }}
          </div>
          <div class="sub-item">
            <strong>Date: </strong>{{ lead.createdDate }}
          </div>
        </ion-item>
      </div>
    </ion-list>
  </ion-content>
</ion-view>