<ion-view view-title="League Table">
  <ion-content class="league-table">

    <div class="row">
      <div class="col col-50 col-offset-50">
        <div class="top-togg">
          <div class="myflt" ng-click="setAll(false)" ng-class="{'actv': !all}"><span>My FLT</span></div>
          <div class="all" ng-click="setAll(true)" ng-class="{'actv': all}"><span>All</span></div>
        </div>
      </div>
    </div>

    <div class="row leagueTitle">
      <div class="col col-30">Position</div>
      <div class="col col-30">Driver</div>
      <div class="col col-40">Converted Leads</div>
    </div>


    <ion-list>

      <ion-item ng-repeat="singleLeague in leagueTable">

        <div class="row">
          <span class="col-5 position">{{ singleLeague.id }}</span>
          <div class="col-15 smallThumb"> <i class="icon ion-person"></i> </div>
          <span class="col-40 name">{{ singleLeague.name }}</span>
          <div class="col-50 stars">
            <!--{{ singleLeague.convertedLeads }}-->
            <span>10</span>
            <i class="icon ion-ios-star numberStars yellow"></i>

            <span>10</span>
            <i class="icon ion-ios-star numberStars gray"></i>

            <span>10</span>
            <i class="icon ion-ios-star numberStars bronze"></i>
          </div>


        </div>

      </ion-item>

    </ion-list>

    <h4 class="middleTitle">Your Current Position</h4>

    <ion-item>
      <div class="row">
        <span class="col-5 position">31</span>
        <div class="col-15 smallThumb"> <i class="icon ion-person"></i> </div>
        <span class="col-40 name">John Smith</span>
        <div class="col-50 stars">
                      <!--{{ singleLeague.convertedLeads }}-->
            <span>10</span>
            <i class="icon ion-ios-star numberStars yellow"></i>

            <span>10</span>
            <i class="icon ion-ios-star numberStars gray"></i>

            <span>10</span>
            <i class="icon ion-ios-star numberStars bronze"></i>
        </div>
      </div>
    </ion-item>



  </ion-content>
</ion-view>
