<ion-view view-title="League Table">
  <ion-content class="league-table">

    <div class="row">
      <div class="col col-50 col-offset-50">
        <div class="top-togg">
          <div class="myflt" ng-click="setAll(false)" ng-class="{'actv': !all}">My FLT</div>
          <div class="all" ng-click="setAll(true)" ng-class="{'actv': all}">All</div>
        </div>
      </div>
    </div>

    <div class="row leagueTitle">
      <div class="col col-30">Position</div>
      <div class="col col-30">Driver</div>
      <div class="col col-40">Converted Leads</div>
    </div>


    <ion-list>

      <ion-item ng-repeat="singleLeague in leagueTable">

        <div class="row">
          <span class="col-5 position">{{ singleLeague.id }}</span>
          <div class="col-15 smallThumb"> <i class="icon ion-person"></i> </div>
          <span class="name" ng-class="{'col-33': smallScreen, 'col-40': !smallScreen}">{{ singleLeague.name }}</span>
          <div class="col-50 stars">
            <!--{{ singleLeague.convertedLeads }}-->
            <span>10</span>
            <i class="icon ion-ios-star numberStars yellow"></i>

            <span>10</span>
            <i class="icon ion-ios-star numberStars gray"></i>

            <span>10</span>
            <i class="icon ion-ios-star numberStars bronze"></i>
          </div>
        </div>

      </ion-item>

    </ion-list>

    <h4 class="middleTitle">Your Current Position</h4>

    <ion-item>
      <div class="row">
        <span class="col-5 position">310</span>
        <div class="col-15 smallThumb"> <i class="icon ion-person"></i> </div>
        <span class="name" ng-class="{'col-33': smallScreen, 'col-40': !smallScreen}">John Smith</span>
        <div class="col-50 stars">
                      <!--{{ singleLeague.convertedLeads }}-->
            <span>10</span>
            <i class="icon ion-ios-star numberStars yellow"></i>

            <span>10</span>
            <i class="icon ion-ios-star numberStars gray"></i>

            <span>10</span>
            <i class="icon ion-ios-star numberStars bronze"></i>
        </div>
      </div>
    </ion-item>



  </ion-content>
</ion-view>
