<ion-view class="login-page">
<ion-header-bar class="bar-balanced">
  <h1 class="title"><img class='title-image'  src='img/logo.png' /> Login</h1>
  <div class="buttons">
    <button class="button button-icon button-clear ion-person" ng-click="popover.show($event)">
     </button>
  </div>
</ion-header-bar>

  <ion-content class="padding">
    <form name="data.login">
      <div class="login-title">
        Please enter your 5 digit employee number to login
      </div>
      <div>
        <div class="row passcode-input">
          <input ng-model="passcode.number1" type="number" autofocus phs-number required ng-minlength="1" maxlength="1" move-next>
          <input ng-model="passcode.number2" type="number" phs-number required ng-minlength="1" maxlength="1" move-next>
          <input ng-model="passcode.number3" type="number" phs-number required ng-minlength="1" maxlength="1" move-next>
          <input ng-model="passcode.number4" type="number" phs-number required ng-minlength="1" maxlength="1" move-next>
          <input ng-model="passcode.number5" type="number" phs-number required ng-minlength="1" maxlength="1">
        </div>
      </div>
      <div style="text-align:center; margin-top: 10px">
      <button class="button icon-right ion-chevron-right button-balanced" ng-click="doLogin()">
        Next
      </button>
    </div>
      
      <div class="messageError" ng-if="showMessage" ng-bind="message">
      </div>
      <form>
  </ion-content>
</ion-view>