<ion-view class="newlead-page" view-title="<img class='title-image'  src='img/logo.png' /> {{AppText.homE_NEW_LEAD}}">
  <ion-content padding="true">
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="{{AppText.leaD_CREATE_LEAD_CONTACT_SURNAME}}">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="{{AppText.leaD_CREATE_LEAD_COMPANY_NAME}}">
      </label>
      <label class="item item-input">
        <textarea rows="6" placeholder="{{AppText.leaD_CREATE_DESCRIPTION}}"></textarea>
      </label>
      <label class="item item-input">
        <input type="text" placeholder="{{AppText.leaD_CREATE_ACCOUNT_NO}}">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="{{AppText.leaD_CREATE_POSTCODE}}">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="{{AppText.leaD_CREATE_PHONE}}">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="{{AppText.leaD_CREATE_EMAIL}}">
      </label>
      <image-slider></image-slider>
    </div>
    <button class="button button-balanced middleButton" ng-click="submitLead()">{{AppText.leaD_CREATE_SUBMIT}}</button>
  </ion-content>
</ion-view>