<ion-popover-view>
  <ion-content class="padding" style="padding-top: 0px;">
    <div class="row popup-contacts">
      <div class="col">
        <h4>{{::contactInfos.title}}</h4>
        <div class="avatar-contact">
          <img ng-src="{{::contactInfos.image}}" class="avatar-image"/>
        </div>
        <hr>
        <div ng-repeat="section in ::contactInfos.sections">
          <h4>{{section.sectionHeaderLabel}}</h4>
          <!-- list out name -->
          <div ng-repeat="item in section.items track by item.id" style="margin-bottom:15px">
            <div class="title">{{item.label}}</div>
            <!-- NAME -->
            <div ng-if="item.id==='NAME'" ng-repeat="name in item.values">
              <a class="contactsContent" target="_blank">{{name}}</a> <br>
            </div>
            <!-- Email -->
            <div ng-if="item.id==='EMAIL'" ng-repeat="name in item.values">
              <a class="contactsContent" ng-href="mailto:{{name}}" target="_blank">{{name}}</a>
            </div>
            <!-- Phone -->
            <div ng-if="item.id==='PHONE'" ng-repeat="name in item.values">
              <a class="contactsContent" ng-href="tel:{{name}}" target="_blank">{{name}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-popover-view>