<ion-view class="stories-page" view-title="<img class='title-image' src='img/logo.png' /> Stories">
  <ion-content>
    <ion-list ng-repeat="story in ::stories">
      <a ng-click="openSingleStory($index)">
        <ion-item class="item item-avatar story">
          <img src="img/user.png">
          <p class="title">{{ story.title }}</p>
          <p><i style="font-weight:700">Post by: </i>{{story.postingUser}}</p>
          <p><i style="font-weight:700">Post by: </i>Date: {{ story.createdDate }}</p>
          <div class="{{story.likedByCurrentUser ? 'thumbsUpLiked': 'thumbsUpNormal'}}">
            <i class="icon ion-thumbsup"></i> {{story.likes}}
          </div>
          <i class="icon ion-ios-arrow-forward arrow-right-custom"></i>
        </ion-item>
      </a>
    </ion-list>
  </ion-content>
</ion-view>