<ion-view class="league-page" view-title="<img class='title-image' src='img/logo.png'/> {{AppText.leaguE_TABLE_LEAD_TITLE}}">
  <ion-content>
    <div class="league-table">
      <div class="row">
        <div class="col col-50 col-offset-50">
          <div class="top-togg">
            <div class="myflt" ng-click="setAll(false)" ng-class="{'actv': !all}">{{AppText.leaguE_TABLE_MY_FLT}}</div>
            <div class="all" ng-click="setAll(true)" ng-class="{'actv': all}">{{AppText.leaguE_TABLE_ALL}}</div>
          </div>
        </div>
      </div>
      <div class="row leagueTitle">
        <div class="col col-30">{{AppText.leaguE_TABLE_POSITION}}</div>
        <div class="col col-30">{{AppText.leaguE_TABLE_DRIVER}}</div>
        <div class="col col-40">{{AppText.leaguE_TABLE_CONVERTED_LEADS}}</div>
      </div>
    </div>
    <spinner is-loading="isLoading"></spinner>
    <ion-list ng-if="!isLoading">
      <div ng-repeat="singleLeague in ::leagueTable track by $index">
        <h4 ng-if="singleLeague.highlight" class="league-table middleTitle">{{AppText.leaguE_TABLE_YOUR_CURRENT_POSITON}}</h4>
        <ion-item>
          <div class="row">
            <span class="col-5 position">{{ singleLeague.position }}</span>
            <div class="col-15 smallThumb"> <i class="icon ion-person"></i> </div>
            <span class="name" ng-class="{'col-33': smallScreen, 'col-40': !smallScreen}">{{ singleLeague.name }}</span>
            <div class="col-50 stars">
              <!--{{ singleLeague.convertedLeads }}-->
              <span>{{singleLeague.scores[0]}}</span>
              <i class="icon ion-ios-star numberStars yellow"></i>
              <span>{{singleLeague.scores[1]}}</span>
              <i class="icon ion-ios-star numberStars gray"></i>
              <span>{{singleLeague.scores[2]}}</span>
              <i class="icon ion-ios-star numberStars bronze"></i>
            </div>
          </div>
        </ion-item>
      </div>
    </ion-list>
  </ion-content>
</ion-view>