<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-balanced" align-title="center">
      <ion-nav-back-button class="button-clear">
        <i class="ion-chevron-left"></i> Back
    </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-person" ng-click="popover.show($event)">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent">
    </ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left">
    <div class="sideProfile">
      <div class="sideAvatar">
        <!-- <i class="icon userSmall ion-person"></i> -->
        <img data-ng-src="{{::currentUser.image}}"/>
      </div>
      <div class="sideName">{{::currentUser.fullName}}</div>
    </div>
    <ion-content class="sideNavList">
      <ion-list>
        <ion-item menu-close href="#/app/home">
          {{AppText.homE_TITLE}}
        </ion-item>
        <ion-item menu-close href="#/app/newlead">
          {{AppText.leaD_CREATE_TITLE}}
        </ion-item>
        <ion-item menu-close href="#/app/leadstatus">
          {{AppText.leaD_STATUS_TITLE}}
        </ion-item>
        <ion-item menu-close href="#/app/leaguetable">
          {{AppText.leaguE_TABLE_LEAD_TITLE}}
        </ion-item>
        <ion-item menu-close href="#/app/stories">
          {{AppText.alL_STORIES_TITLE}}
        </ion-item>
        <ion-item menu-close href="#/app/newstory">
          {{AppText.neW_STORY_TITLE}}
        </ion-item>
        <ion-item menu-close ng-click="logout()">
          Log Out
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>