<ion-view class="new-story-page" view-title="<img class='title-image' src='img/logo.png'/> {{AppText.NEW_STORY_TITLE}}">
  <ion-content scroll="false" padding="true">
    <label class="item item-input">
      <input type="text" placeholder="{{AppText.NEW_STORY_STORY_TITLE}}">
    </label>
    <label class="item item-input">
      <textarea placeholder="{{AppText.NEW_STORY_STORY_BODY}}" rows="10"></textarea>
    </label>
    <button class="button button-balanced middleButton" ng-click="submitStory()">{{AppText.NEW_STORY_SUBMIT}}</button>
  </ion-content>
</ion-view>