.Sektor {
  max-width: 150px !important;
}

.popup-contacts {
  a {
    color: $phsColor !important;
  }
  display: inline !important;
  .contactsContent {
    margin-bottom: 15px;
    text-decoration: underline;
    font-size: 16px;
  }
  .title {
    font-size: 16px;
    font-weight: 700;
  }
}