.newlead-page {
  .list {
    .item {
      &.item-input {
        padding: 4px 10px;
        margin-bottom: 13px;
        input {
          padding-right: 0px;
        }
      }
    }
  }
  .upload-btn {
    margin: auto;
    text-align: center;
    width: 90px;
    .uplContainer .icon {
      font-size: 1.3rem;
      color: $darkGray;
    }
    .uplContainer {
      background: #E8E8E8;
      padding: 20px;
    }
  }
  .smallModal {
    min-height: 300px;
    width: 80%;
    margin: 0 auto;
    border: 1px solid $gray;
    margin-left: 10%;
    margin-top: 50%;
    text-align: center;
  }
  .smallModal span {
    font-size: 0.7rem !important;
  }
  .smallModal h6 {
    font-size: 0.9rem;
  }
  .pick-location {
    .item {
      padding: 6px;
      text-align: center;
    }
  }
}