.uploadImage .col-25 {
  text-align: center;
  padding: 4px;
}

.uploadImage .col-25 span {
  display: block;
  font-size: 0.7rem;
}

.uplContainer .icon {
  font-size: 1.3rem;
  color: $darkGray;
}

.uplContainer {
  background: #E8E8E8;
  padding: 10px;
}

.uploadImage .col-25:last-child .uplContainer {
  margin-right: 0rem;
}

@media (min-width: 375px) {
  .uplContainer .icon {
    font-size: 1.5rem;
    color: #44575E;
    padding: 3px;
  }

  .uploadImage .col-25 span {
	  display: block;
	  font-size: inherit;
	}
}

.smallModal{
  min-height: 300px;
  width: 80%;
  margin: 0 auto;
  border: 1px solid $gray;
  margin-left: 10%;
  margin-top: 50%;
  text-align: center;
}
.smallModal span{
  font-size: 0.7rem !important;
}
.smallModal h6{
  font-size: 0.9rem;
}
.noLocation{
  font-size: 0.7rem;
  color: #d70000;
  text-align: left;
  padding-left: 0.5rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

.pick-location {
	.item {
		padding: 6px;
	}
}