.stories-page {
  a {
    text-decoration: none;
  }
  .item {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
  }
  .title {
    font-size: 17px;
    font-weight: 700;
  }
  .item-title {
    font-weight: 700;
  }
  .thumbsUpLiked {
    color: $phsColor;
  }
  .thumbsUpNormal {
    color: #666;
  }
  .arrow-right-custom {
    position: absolute;
    right: 11px;
    font-size: 27px;
    top: 34px;
    color: $phsColor;
  }
}