.story-detail-page {
  .storyUpvote {
    display: inline;
    float: right;
    font-size: 1.4rem;
    color: $phsColor
  }
  .storyDetails {
    margin-bottom: 0.5rem;
    border-bottom: 1px solid $gray;
    color: $darkGray;
  }

  .storyTitle, .storyName{
  display: inline-block;
}
.storyName{
  float: left;
}
.storyDate{
  
}
.storyTitle{
  font-size: 1.2rem;
}
.story .item-note{
  margin-top: -19px;
}
}