<ion-modal-view class="modal modal-location">
  <ion-header-bar class="bar-balanced">
    <h1 class="title">{{AppText.leaD_CREATE_YOUR_LOCATION}}</h1>
  </ion-header-bar>
  <ion-content>
    <ion-list class="pick-location">
      <ion-item class="item-text-wrap" ng-repeat="location in ::locationsNearby" ng-click="locationPicked()">
        <h6>{{location.name}}</h6>
        <span>{{location.street}} {{location.town}} {{location.country}}</span>
      </ion-item>
    </ion-list>
    <ion-item class="item-text-wrap">
      <h6>{{AppText.leaguE_TABLE_YOUR_CURRENT_POSITON}}</h6>
      <span>{{currentAddress}}</span>
    </ion-item>
    <button class="button noLocation" ng-click="inputYourLocation()">{{AppText.leaD_CREATE_NO_LOCATION}}</button>
  </ion-content>
</ion-modal-view>